extends layout

block head
  link(href="/stylesheets/hosts.css", rel="stylesheet")
  style.
    .navbar {
      margin-bottom: 0px;
    }
    .navbar > div > h3 {
      margin-left: 0px;
    }

block content
  .navbar
    .container-fluid
      h3.navbar-text.navbar-left Hosts
      ul.nav.navbar-nav.pull-right
        li.dropdown
          button.navbar-btn.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") sort by <span class="caret"></span>
          ul.dropdown-menu
            li
              a(href="#bydate") Date
            li
              a(href="#byname") Name
            li
              a(href="#bymac") Mac
        li
          button.navbar-btn.btn.btn-default(disabled=true)#compare-hosts Compare

  if compare
    div.message-container
      pre !{JSON.stringify(compare)}

  div.list-group#hosts-container
    each host in hosts
      div.row.list-group-item(mac="#{host.mac}" hostname="#{host.hostname}" datetime="" type="host" class=host.home == true ? "active" : "")
        div.col-md-6.col-xs-7
          if ['*'].indexOf(host.hostname) > -1
            h4.list-group-item-heading #{host.mac}
          else
            h4.list-group-item-heading #{host.hostname} <small>#{host.mac}</small>
          p.list-group-item-text.last-active unknown

        div.col-md-6.col-xs-5
          .btn-group.pull-right
            a.btn.btn-default(href="/hosts/#{host.mac}", role="button") Link
            label(data-toggle="buttons").pull-right.btn.btn-default Select
              input(type="checkbox" name="options" style="display: none;")


block scripts
  script(src="/javascripts/hosts.js")
